$headerBackground: url(../img/m-h-day.jpg);
$logoFont: 'Hind', sans-serif;
$cardFontSize: 20px;
$bannerposition: 230px;
$bannerGradient: linear-gradient(to right, #689801, #2e5dd1);
$colors: (
	bodyColor: #fff,
	textColor: #2c2f3c, 
	btnColor: #699900, 
	underlineColor: #14a0c7, 
	cardColor: #21232e,
	footerLogoColor: #c0c3ce);