$headerBackground: url(../img/m-h-night.jpg);
$logoFont: 'Fresca', sans-serif;
$cardFontSize: 20.55px;
$bannerposition: 205px;
$bannerGradient: linear-gradient(to right, #dfa603, #97334e);
$colors: (
	bodyColor: #21232e,
	textColor: #fff, 
	btnColor: #e3ac00, 
	underlineColor: #ff4e33, 
	cardColor: #3b3f50,
	footerLogoColor: #d1d1d1);